<%- include("includes/head.ejs") %>
        <div class=" relative mx-auto max-w-full bg-center bg-cover p-4 text-center bg-no-repeat w-full h-96"
            style="background-image: url('/assets/img1.jpg');">
        </div>

    <!-- About Section  -->
    <span class="sm:w-40 w-24 h-1 sm:mb-3 mb-2 mt-24 mr-4 bg-blue-500 inline-block"></span>
    <h2 class="sm:text-4xl text-3xl font-bold text-blue-500 inline ">ABOUT US!</h2>
    <section id="about" style="padding: 0 4% 0;">
        <div class=" flex md:flex-row flex-col gap-4 justify-between items-center about-anime">
            <div class="lg:w-2/4 w-5/6 about-img">
                <img class="float-left w-full"
                    src="https://flowndeveloper.com/wp-content/uploads/2023/12/5569517_2889111.svg" alt="klua">
            </div>
            <div class="md:w-3/5 mt-6 w-full text-black">
                <h3 class="text-4xl font-bold about-head mb-4">Tech On Globe - One of the Top Software Development
                    Company
                </h3>
                <p class=" about-p">100% Trusted and Registered Company in India with a professional website that
                    provides the best web development and web design services in India. We are a company that offers
                    multi-functional web portals, and we make sure that a well-developed and attractive website can help
                    our clients to record ROI-driven results.</p>
            </div>
        </div>
    </section>

    <!-- vision  -->
    <span class="sm:w-40 w-24 h-1 sm:mb-3 mb-2 mt-24 mr-4 bg-blue-500 inline-block"></span>
    <h2 class="sm:text-4xl text-3xl font-bold text-blue-500 inline ">OUR VISION!</h2>
    <section style="padding:0 4% ;">
        <p class="mt-8">"To empower businesses worldwide by delivering innovative, scalable, and intelligent software
            solutions that drive digital transformation, foster efficiency, and create exceptional user experiences. We
            envision a future where our cutting-edge technology connects people, optimizes processes, and unlocks the
            full potential of every organization, enabling them to thrive in an ever-evolving digital landscape."</p>
    </section>

    <!-- mission  -->
    <span class="sm:w-40 w-24 h-1 sm:mb-3 mb-2 mt-24 mr-4 bg-blue-500 inline-block"></span>
    <h2 class="sm:text-4xl text-3xl font-bold text-blue-500 inline ">OUR MISSION!</h2>
    <section style="padding: 0 70px 4% ;">
        <p class="mt-8">"Our mission is to empower businesses and organizations through innovative, reliable, and
            scalable software solutions. We aim to simplify complex challenges, enhance efficiency, and drive growth by
            delivering cutting-edge technology with exceptional service. We are committed to creating meaningful,
            long-term relationships with our clients by providing solutions that inspire success, foster creativity, and
            unlock their true potential in an ever-evolving digital world."</p>
    </section>


    <!-- footer  -->
    <%- include("includes/footer.ejs") %>

        </body>

        </html>