<%- include("includes/head.ejs") %>
<%- include("includes/flash.ejs") %>
<!-- login form   -->
<section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center px-4 m-28 py-8 mx-auto">
        
        <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
            
            <div class="bg-blue-500 p-4 rounded-t-lg  text-center"><i class="ri-user-line text-white md:text-6xl text-4xl"></i></div>
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                    Sign Up 
                </h1>
                <form class="space-y-4 md:space-y-6" method="post" action="/user/signup">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                        <input type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  focus:border-blue-500"
                            placeholder="Enter Email" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            required="">
                    </div>
                    <button type="submit"
                        class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">Sign Up</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Allready have an account! <a href="/user/login"
                            class="font-medium text-blue-500 font-semibold  hover:underline dark:text-primary-500">Log In</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>



    <!-- scroll to top and bottom   -->
    <section style="padding: 20px;" class="fixed flex flex-col gap-2 text-blue-500 -right-4 bottom-8 z-50 ">
        <a href="#home"
            class="bg-white p-1 px-2 rounded-full text-2xl hover:bg-blue-500 hover:text-white border-2 border-gray-200"><i
                class="ri-arrow-up-line"></i></a>
        <a href="#footer"
            class="bg-white p-1 px-2 rounded-full text-2xl hover:bg-blue-500 hover:text-white  border-2 border-gray-200"><i
                class="ri-arrow-down-line"></i></a>
    </section>

        <!-- scroll to top and bottom   -->
        <section style="padding: 20px;" class="fixed flex flex-col gap-2 text-blue-500 -right-4 bottom-8 z-50 ">
            <a href="#home"
                class="bg-white p-1 px-2 rounded-full text-2xl hover:bg-blue-500 hover:text-white border-2 border-gray-200"><i
                    class="ri-arrow-up-line"></i></a>
            <a href="#footer"
                class="bg-white p-1 px-2 rounded-full text-2xl hover:bg-blue-500 hover:text-white  border-2 border-gray-200"><i
                    class="ri-arrow-down-line"></i></a>
        </section>

        <!-- gsap  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
            integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
            integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>



        <script>
            // let navBar = document.querySelector("nav")
            // let menuIcon = document.querySelector(".d-icon")
            // menuIcon.addEventListener("click", () => {
            //     navBar.classList.toggle("toggle")
            // })

            let navBar = document.querySelector("nav");
            let closeIcon = document.querySelector(".close-icon");
            let menuIcon = document.querySelector(".d-icon");
            menuIcon.addEventListener("click", () => {
                navBar.classList.add("toggle");
                menuIcon.style.display = "none";
                closeIcon.classList.remove("close-icon");
            });

            closeIcon.addEventListener("click", () => {
                navBar.classList.remove("toggle");
                menuIcon.style.display = "block";
                closeIcon.classList.add("close-icon");
            });

            // nav bar anime
            let navTimeLine = gsap.timeline();
            navTimeLine.from("#links", {
                opacity: 0,
                y: -100,
                duration: 0.5,
                stagger: 0.3,
                ease: "power2",
            });
            gsap.from("header h2", {
                scale: 0,
                duration: 0.5,
                ease: "power2",
            });


            // JavaScript to handle the close button functionality
            const closeButton = document.querySelector('#close-btn');
            const alertBox = document.querySelector('#alert-box');

            // Add event listener to the close button
            closeButton.addEventListener('click', () => {
                alertBox.classList.add('hidden'); // Adds the 'hidden' class to hide the alert
                console.log("cliked");

            });


        </script>
        </body>

        </html>